* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Red Hat Text", sans-serif;
}



#main {
    padding-top: 10px;
    width: 83%;
    margin: auto;
}

.card {
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

input,
select {
    background-color: #fff !important;
    border: 1px solid #4a4b4c !important;
    font-size: 18px !important;
    outline: none;
}

.sticky_nav {
    padding: 10px 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 16%);
}

select {
    cursor: pointer;
}

option {
    border-bottom: 22px solid #000 !important;
}

.w-100 {
    width: 100%;
}

/* modal styling start  */
.c_button {
    width: 100%;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 3.5px;
    background: #df495b;
    font-size: 15px;
    padding: 8px 0;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

.c_button:hover {
    background: #ff5267;
    color: rgba(255, 255, 255, 0.89);
}

.modal_p {
    font-size: 14px;
}

.modal_p span,
.signup_P a {
    cursor: pointer;
    color: #df495b !important;
    font-weight: 500;
}

/* modal styling end  */

#rangeValue {
    display: block;
    text-align: center;
    font-size: 3em;
    color: rgb(71, 71, 71);
    font-weight: 500;
}

.c_range {
    display: block;
    width: 100%;
}

/* footer styling start */
a {
    text-decoration: none !important;
    color: black !important;
}

#last-section-pink {
    background-color: #df495b;
    color: white;
}

.fa {
    color: white !important;
}

.main-footer {
    padding-top: 25px;
}

.custom_links {
    color: #222229 !important;
    font-weight: 600;
}

/* footer styling end  */