* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
    box-sizing: border-box;
  }

  .upper-nav {
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
  }

  #btn-x{
    border: none;
    border-radius: 5px;
    background-color: #df495b;
    color: white;
    font-weight: bolder;
    padding: 1%;
  }

  #container-p {
    position: relative;
    width: 90%;
    height: 85vh;
    margin: auto;
  }

  #container-p>img {
    height: 100%;
    width: 100%;
  }

  .content {
    /* border: 1px solid black; */
    position: absolute;
    color: White;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .written-cont {
    /* border: 1px solid rgb(255, 207, 207); */
    width: 50%;
  }

  .written-cont h1 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .written-cont h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .queryform {
    /* border: 1px solid rgb(243, 242, 242); */
    width: 30%;
    height: 90%;
    margin-top: 2%;
  }

  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
  }

  form>input,
  select {
    height: 8%;
    margin: 2% 0;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: medium;
  }

  #enq-btn{
    height: 8%;
    margin: 2% 0;
    background-color: #df495b;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: medium;
  }

  .input-para {
    width: 100%;
  }

  #intro_parag {
    width: 75%;
    height: 40vh;
    margin: 40px auto;
    /* border: 2px solid red; */
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #666666;
    font-size: 20px;
  }

  #glimpse-of-events{
    width: 75%;
    height: auto;
    margin: 40px auto;
    font-size: 20px;
    color: white;
    /* border: 1px solid red; */
  }
  #glimpse-of-events h4{
    color: #666666;
    margin-bottom: 1.5%;
  }
  .bigcontainer{
    display: grid;
    height: 95%;
    width: 100%;
    /* border: 1px solid green; */
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "f1 f1 f2 f4"
    "f1 f1 f3 f4"
    "f5 f6 f6 f7"
    "f5 f6 f6 f8";
  }
  #content-1{
    grid-area: f1;
  }
  #content-2{
    grid-area: f2;
  }
  #content-3{
    grid-area: f3;
  }
  #content-4{
    grid-area: f4;
  }
  #content-5{
    grid-area: f5;
  }
  #content-6{
    grid-area: f6;
  }
  #content-7{
    grid-area: f7;
  }
  #content-8{
    grid-area: f8;
  }
  .container-x{
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgba(32, 32, 32, 0.5); /* !Black see-through */ 
  width: 100%;
  opacity:1;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 20px;
  text-align: center;
}
#last-section{
    width: 75%;
    /* height: auto; */
    margin: auto;
    /* border: 1px solid brown; */
}
#last-section h4{
 color: #666666;
 font-size: 20px;
}
.flex-last-section{
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}
.cards{
  border: 1px solid #cfcfcf;
}
.cards img{
 object-fit: cover;
}
.img-content{
  margin-top: 1%;
  text-align: center;
  font-weight: bolder;
  color: #666666;
}
.img-content button{
  font-weight: bolder;
  font-size: 15px;
  color: white;
  margin: 5% 0;
  height: 40px;
  width: 170px;
  border-radius: 25px;
  border: none;
  background-color: #df495b;
}
#copyright-x{
  margin-top: 3%;
  margin-bottom: 1%;
  text-align: center;
  color: #a5a4a4;
}
